<!--ここが/booksのページ-->
<body>
    <div class="row">
    <div class="sidebar">
        <h1>User info</h1>
        <table class="table">
          <tbody><tr></tr>
          <tr>
	      <th>name</th>
	      <th></th>
          </tr>
          <tr>
	      <th>introduction</th>
	      <th></th>
          </tr>
          </tbody>
        </table>
        <a class="btn btn-outline-secondary btn-block"></a>
    </div>    
    </div>
    <div class="main"></div>
</body>