<!--ここがbooks/indexページ-->
<h3>Books</h3>

<Table class="table">
    <thead>
        <tr>
            <th></th>
            <th>title</th>
            <th>opinion</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>image</td>
            <td>a</td>
            <td>a</td>
        </tr>
    </tbody>
</Table>